* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

main {
    padding: 8px;
}

h1 {
    color: #333;
    text-align: center;
}

.Botones {
    display: flex;
    justify-content: center;
}

.Botones__item {
    margin: 4px;
    padding: 8px;
    height: 80%;
    border-radius: 6px;
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
}

.Input_container {
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Input_container input {
    text-overflow: clip;
    width: 100%;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 95%;
    font-size: 1.2rem;
    text-align: center;
}
